<div class="container">

<h1>Perspective</h1>

<div id="container">

<img src="https://png.pngtree.com/photos/md/2017-09-09/780d3cc0aac57c2920e6485828a701a7.jpeg" class="img-fluid">>

</div>
<p>
The giant stood atop the hill picking his teeth clean
The bones flew asunder to their permanent resting places amidst the grassy knoll, prepared to do their due diligence of feeding the earth.
The microbes begin harvesting for their feast, they will feed trillions and be called heroes.
The giant weeps for he is alone and is known as a villain.

Well below in the village a family plans for the funeral of a son and a father.
They eat their harvest of bread made fron the wheat of the hill and curse their luck.

Later, upon the hill, the giant whispers to the sun "In thine face I am naught but an ant, through the strike of but one of thine infinite tendrils thou couldst murder not only I, but all of the land, I thank you for sparing me."

And down in the village the forlorn family joins hands and preys to their god in heaven, and thanks him for bestowing them with their daily bread, and for keeping their brother and father with him in his kingdom.

All the while the microbes amidst the grass and wheat of the hill, and throughout all the land feast and laugh and soil the earth.
</p>

</div>