<div class="container">

<h1>The Silly Goose</h1>

<img src="https://thenypost.files.wordpress.com/2017/05/shutterstock_633482957.jpg?quality=90&strip=all&w=618&h=410&crop=1" class="img-fluid">

<p>
	Through a golden thicket waddled a majestic and ridiculous goose, opulent and opalescent, feathers gleaming from the cascading rays of Ra. It gobbled down its broken fast of wriggling worms and waded into his aquatic home.

Some time later, as he lazed languidly upon his crystal clear lake, he let loose his bowels and as the water beneath him swirled into the likeness of moss, a shadow slid across the lake sharp and tactful. The goose thought of a secret no one will ever know, and as he began to laugh to himself pain shot through him hot and red, and suddenly he was airborne wondering why, and as she snapped his neck the hawk thought of her children and smiled. 
</p>

</div>
